{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Cactus Boutique</h1>
    <p>Utilisez le menu pour naviguer vers les cactus, les pots, les catégories et le terreau.</p>
{% endblock %}
