<form method="post" action="{{ path('app_terreau_delete', {'id': terreau.id}) }}" onsubmit="return confirm('{{ 'form.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ terreau.id) }}">
    <button class="btn btn-secondary">{{ 'form.delete'|trans }}</button>
</form>
