{% extends 'base.html.twig' %}

{% block title %}New Terreau{% endblock %}

{% block body %}
     <div class="section-header">
        <h1>🌱 Nouveau Terreau</h1>
    </div>

    {{ include('terreau/_form.html.twig') }}

    <a href="{{ path('app_terreau_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
