{% extends 'base.html.twig' %}

{% block title %}New Terreau{% endblock %}

{% block body %}
    <h1>Create new Terreau</h1>

    {{ include('terreau/_form.html.twig') }}

    <a href="{{ path('app_terreau_index') }}">back to list</a>
{% endblock %}
