<form method="post" action="{{ path('app_pot_delete', {'id': pot.id}) }}" onsubmit="return confirm('{{ 'form.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pot.id) }}">
    <button class="btn">{{ 'form.delete'|trans }}</button>
</form>
