<form method="post" action="{{ path('app_cactus_delete', {'id': cactu.id}) }}" onsubmit="return confirm('{{ 'form.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cactu.id) }}">
    <button class="btn">{{ 'form.delete'|trans }}</button>
</form>
